:root {
    --primary-bg-color: #457b9d;
    --secondary-bg-color: #a8dadc;
    --header-bg-color: #1d3557;
    --btn-color: #e63946;
    --primary-txt-color: #f1faee;
    --secondary-txt-color: #1d3557;
}

