*{box-sizing: border-box;}

/* Basics */

#playerOverview, #stacks, #hand {  /* Necesasry? Check after webcomponent implementation  */
    padding: 20px 0;
}

:root {
    --primary-bg-color: white;
    --secondary-bg-color: #a8dadc;
    --tertiary-bg-color: #457b9d;
    --header-bg-color: #1d3557;
    --btn-color: #e63946;
    --primary-txt-color: #457b9d;
    --secondary-txt-color: #f1faee;
    --tertiary-txt-color: #1d3557;
    --emphasis-txt-color: #e63946;
    --border-color: #1d3557;
}

.hidden {
    display: none !important;
}

/* #playerOverview Design (not using common.css) */
#playerOverview {
    width: 100%;
    padding: 10px;
    background-color: var(--header-bg-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: var(--secondary-txt-color);
} /*PROBLEM: Doesn't grow when overflow happens*/

.player {
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 15px;
    flex: 0 0 auto;
    border-left: 1px solid var(--secondary-bg-color);
    display: flex;
}

#playerOverview .player:first-child {
    border: none;
}

.playerInfo {
    flex: 1 75px;
    align-self: stretch;
    height: 75px;
}

.avatar {
    height: 75px;
    width: 75px;
}

.name {
    font-size: 25px;
    display: block;
    vertical-align: top;
    text-align: center;
}

.pointWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 15px;
}

.currentPoints {
}

.totalPoints {
}

/*PROBLEM: What to do with the points?*/


/* TODO: Restyle when webcomponents are done */
.card {
    border: 2px solid black;
    background: white;
    display: inline-block;
    margin: 15px 5px;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    text-align: center;
    background-image: url('/static/images/card_avatar/colorful_background.png');
    background-size: cover;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card.noHover:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cardValue {
    font-size: 50px;
    padding: 5px;
    color: orange;
    display: inline-block;
}

/*
img.ochsen {
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 150px;
}
*/

.chosenCard {
    border: 5px solid rgb(255, 253, 137);
}

#handCards.lockedIn .chosenCard {
    border: 5px solid grey;
}
#handCards.lockedIn .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
