:root {
    --primary-bg-color: #457b9d;
    --secondary-bg-color: #a8dadc;
    --header-bg-color: #1d3557;
    --btn-color: #e63946;
    --primary-txt-color: #f1faee;
    --secondary-txt-color: #1d3557;
}

body {
    text-align: center;
    background-color: var(--primary-bg-color);
}

h1 {
    color: var(--primary-txt-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 90px;
    font-weight: bold;
    margin: 80px 10px 40px 10px;
}

h3 {
    color: var(--primary-txt-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    padding: 10px;
    font-style: italic;
}

.btn {
    border-radius: 20px;
    display: inline-block;
    padding: 15px;
    font-size: 15pt;
    color: var(--primary-txt-color);
    font-family: 'Quicksand', sans-serif;
    background-color: var(--btn-color);
    margin-top: 30px;
    margin: 10px;
}

.btn:hover {
    background-color: rgba(230, 57, 70, 0.7);
}

.backbtn {
    font-size: 12px;
    color: var(--primary-txt-color);
}

.submitbtn {
    color: var(--primary-txt-color);
    font-size: 15px;
    padding: 8px;
}

.hidden {
    display: none;
}

.txt {
    font-size: 15pt;
    font-family: 'Quicksand', sans-serif;
    color: var(--secondary-txt-color);
    display: inline-block;
    padding: 5px;
}

form {
    background-color: var(--secondary-bg-color);
    border-radius: 20px;
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 30px;
}
