* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

:root {
    --primary-bg-color: white;
    --secondary-bg-color: #a8dadc;
    --tertiary-bg-color: #457b9d;
    --header-bg-color: #1d3557;
    --btn-color: #e63946;
    --primary-txt-color: #457b9d;
    --secondary-txt-color: #f1faee;
    --tertiary-txt-color: #1d3557;
    --emphasis-txt-color: #e63946;
}

.hidden {
    display: none;
}

body {
    text-align: center;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
}

header {
    background-color: var(--header-bg-color);
    font-size: 20px;
    text-align: right;
    padding: 20px;
    width: 100%;
}

header span {
    padding: 40px;
    font-family: 'Quicksand', sans-serif;
    color: var(--secondary-txt-color);
}

h1 {
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

h2 {
    line-height: 1.5;
    font-weight: normal;
}

h2 span {
    color: var(--emphasis-txt-color);
}

#playerSection {
    margin-top: 50px;
}

h3 {
    text-align: center;
    font-weight: bold;
}

#remainingPlayers {
    color: var(--emphasis-txt-color);
}

#playerTableEl {
    margin: 0 auto;
}

td:not(.playerTD) {
    background-color: rgba(235, 250, 255, 0.625);
    background-image: url(/static/images/avatars/no_player.png);
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.playerWrapper {
    border: 1px solid var(--tertiary-txt-color);
    border-radius: 20px;
    padding: 20px 50px;
    margin: 20px 10px;
}

.playerAvatar {
    width: 120px;
    height: 120px;
    display: block;
}

.playerName {
    font-size: 25px;
    display: block;
    padding-top: 20px;
}

.btn {
    border-radius: 20px;
    display: inline-block;
    padding: 15px;
    font-size: 15pt;
    color: var(--secondary-txt-color);
    font-family: 'Quicksand', sans-serif;
    background-color: var(--btn-color);
    margin-top: 30px;
    margin: 10px;
}

.btn:hover {
    background-color: rgba(230, 57, 70, 0.7);
}
