<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/common.css">
        {% block extra_css %}{% endblock %}

        <title>{% block page_title %}Pied Piper{% endblock %}</title>

        <link rel="shortcut icon" href="/static/images/favicon/timrat.png" type="image/png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+SC:wght@700&family=Ramabhadra&family=Roboto:wght@300;500;900&family=Rubik:wght@400;500&display=swap" rel="stylesheet">

        {% block extra_meta %}{% endblock %}
    </head>

    <body {% block basic_data %} data-game-id="{{ game.get_id() }}" data-player-id="{{ player.id() }}" {% block extra_body_tags %}{% endblock %}{% endblock %}>
        {% block standard_header %}
        <header>
            <span>{% block nav_heading %}<a>&nbsp;</a>{% endblock %}</span>
            <span><a href="{{ url_for('rules_page') }}" target="_blank">Rules</a></span>
            <span><a href="{{ url_for('about_page') }}" target="_blank">About</a></span>
            <!--Give credit to: https://www.iconfinder.com/iconsets/cat-power AND https://www.iconfinder.com/iconsets/animals-95-->
        </header>
        {% endblock %}

        {% block content %}{% endblock %}
    </body>
</html>
