<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/end_of_game.css">
        <title>Test Waiting Room</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    </head>

    <body data-game-id="{{ game.get_id() }}" data-player-id="{{ player.id() }}">
        <header>
            <span>Back to Home</span>
            <span>Rules</span>
            <span>About</span>
        </header>

        <section id="winnerCelebration">
        <h3> And the winner is...</h3>
        <h1> <span id="winnerName"> </span> </h1>
        </section>

        <section>
            <table id="pointTable">
                {% for player in game.get_player_list() %}
                    <tr></tr>
                    <div class="player">
                        <img class="playerAvatar" src="{{ player.avatar() }}" alt="{{ player.name() }}'s avatar">
                        <div class="playerInfo">
                            <div class="playerName"> {{ player.name() }} </div> <br>
                            <div class="playerPoints"> {{ player.total_points() }}</div>
                        </div>
                    </div>
                {% endfor %}
            </table>
            <p>
                <button id="landingPageRedirectBtn">Click here to get back to the main page!</button>
            </p>
        </section>

        <!-- JavaScript -->
        <script src="/static/js/end_of_game.js"></script>
    </body>
</html>
