<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/game_room.css">
    <title>Test Game Room</title>
  </head>

  <body data-game-id="{{ game.get_id() }}" data-player-id="{{ player.id() }}">

    <!-- Point Table -->
    <section id="playerOverview">
        <table>
            <tr>
            {% for player in game.get_player_list()[0:5] %}
                <td data-player-id="{{ player.id() }}">
                    <img src="{{ player.avatar() }}" height=64 width=64>
                    <span class = "currentPoints"> 0 </span>
                    <br> {{ player.name() }} <span class = "totalPoints"> {{ player.total_points() }} </span>
                </td>
            {% endfor %}
            </tr>
            {% if game.get_player_list()|length > 5 %}
                <tr>
                {% for player in game.get_player_list()[5:] %}
                    <td data-player-id="{{ player.id() }}">
                        <img src="{{ player.avatar() }}" height=64 width=64>
                        <span class = "currentPoints"> 0 </span>
                        <br> {{ player.name() }} <span class = "totalPoints"> {{ player.total_points() }} </span>
                    </td>
                {% endfor %}
                </tr>
            {% endif %}
        </table>
    </section>

    <!-- Stacks -->
    <section id="stacks">
        <table>
            {% for i in range(6) %}
                <tr>
                    {% for j in range(4) %}
                    <td> here </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </section>

    <!-- Player's Hand -->
    <section id="hand">
        <div id="handCards">
        {% for card in player.hand() %}
            <div class="card" data-card-value="{{ card.value() }}">
                <span class="cardValue"> {{ card.value() }} </span> <br>
                <span class="cardOchsen"> {{ card.ochsen() }} </span>
            </div>
        {% endfor %}
        </div>
        <form id="confirmCardForm" class="hidden">
            Do you want to confirm card <span id=chosenCardValue> </span>?
            <input type="submit" value="Yes">
        </form>
    </section>

    <!-- JavaScript -->
    <script src="/static/js/game_room.js"></script>
</body>
</html>
