{% extends "skeleton/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/game_room.css">
{% endblock %}

{% block page_title %}Pied Piper Game Room{% endblock %}

{% block extra_body_tags %} data-round-no="{{ game.get_round_no() }}" {%  endblock %}

{% block standard_header %}{% endblock %}

{% block content %}

    <!-- Point Table -->
    <section id="playerOverview">
        {% for player in game.get_player_list() %}
            <span class="player" data-player-id="{{ player.id() }}">
                <img class="avatar" src="{{ player.avatar() }}">
                <span class="playerInfo">
                    <span class="name">{{ player.name() }} </span>
                    <span class="pointWrapper">
                        <span class = "totalPoints"> {{ player.total_points() }} </span>
                        <span>+</span>
                        <span class = "currentPoints"> {{ player.current_points() }} </span>
                    </span>
                </span>
            </span>
        {% endfor %}
    </section>

    <!-- Stacks -->
    <section id="stacks">
        <span id="tableTxt">The Table</span>
        <table>
            {% for i in range(4) %}
                <tr>
                    {% for j in range(5) %}
                    <td> </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </section>

    <!-- Player's Hand -->
    <section id="hand">
        <span id="handTxt">Your Hand</span>
        <!-- V1: Confirm Card Form -->
        <form id="confirmCardForm" class="hidden">
            Do you want to confirm card <span id=chosenCardValue> </span>?
            <input type="submit" value="Yes" class="btn" id="inputBtn">
        </form>
        <div id="waitingForOthers" class="hidden">
            Waiting for other players to choose their card
        </div>
        <div id="handCards">
        {% for card in player.hand() %}
            <my-card cardValue="{{ card.value() }}" location='hand'></my-card> <!-- also comes with class "card _ochsen" -->
        {% endfor %}
        </div>
    </section>

    <!-- JavaScript -->
    <script src="/static/js/vendor/lit-element.js" type="module"></script>
    <script src="/static/js/card.js" type="module"></script>
    <script src="/static/js/game_animation.js" type="module"></script>
    <script src="/static/js/game_room.js" type="module"></script>
{% endblock %}
