<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/game_room.css">
    <title>Test Game Room</title>
  </head>

  <body data-game-id="{{ game.get_id() }}" data-player-id="{{ player.id() }}" data-round-no="{{ game.get_round_no() }}">

    <my-element>

    <!-- Point Table -->
    <section id="playerOverview">
        <table>
            <tr>
            {% for player in game.get_player_list()[0:5] %}
                <td data-player-id="{{ player.id() }}">
                    <img src="{{ player.avatar() }}" height=64 width=64>
                    <span class = "currentPoints"> 0 </span>
                    <br> {{ player.name() }} <span class = "totalPoints"> {{ player.total_points() }} </span>
                </td>
            {% endfor %}
            </tr>
            {% if game.get_player_list()|length > 5 %}
                <tr>
                {% for player in game.get_player_list()[5:] %}
                    <td data-player-id="{{ player.id() }}">
                        <img src="{{ player.avatar() }}" height=64 width=64>
                        <span class = "currentPoints"> 0 </span>
                        <br> {{ player.name() }} <span class = "totalPoints"> {{ player.total_points() }} </span>
                    </td>
                {% endfor %}
                </tr>
            {% endif %}
        </table>
    </section>

    <!-- Stacks -->
    <section id="stacks">
        <table>
            {% for i in range(6) %}
                <tr>
                    {% for j in range(4) %}
                    <td> </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </section>

    <!-- Player's Hand -->
    <section id="hand">
        <div id="handCards">
        {% for card in player.hand() %}
             <!-- <my-card cardNumber="{{ card.value() }}"> -->
            <div class="card" data-card-value="{{ card.value() }}">
                {% if card.ochsen() == 1 %}
                <img class='ochsen' src='/static/images/card_avatar/Rattsie Card Background.png' alt='one rat'>
                {% elif card.ochsen() == 2 %}
                <img class='ochsen' src='/static/images/card_avatar/two_rats.png' alt='two rats'>
                {% elif card.ochsen() == 3 %}
                <img class='ochsen' src='/static/images/card_avatar/three_rats.png' alt='three rats'>
                {% elif card.ochsen() == 5 %}
                <img class='ochsen' src='/static/images/card_avatar/five_rats.png' alt='five rats'>
                {% elif card.ochsen() == 7 %}
                <img class='ochsen' src='/static/images/card_avatar/seven_rats.png' alt='seven rats'>
                {% endif %}
                <span class="cardValue"> {{ card.value() }} </span> <br>
            </div>
        {% endfor %}
        </div>
        <form id="confirmCardForm" class="hidden">
            Do you want to confirm card <span id=chosenCardValue> </span>?
            <input type="submit" value="Yes">
        </form>
        <div id="waitingForOthers" class="hidden">
            Waiting for other players to choose their card
        </div>
    </section>

    <!-- JavaScript -->
    <script src="/static/js/vendor/lit-element.js" type="module"></script>
    <script src="/static/js/card.js" type="module"></script>
    <script src="/static/js/game_room.js" type="module"></script>
</body>
</html>
