<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/landing_page.css">
    <title>Test Landing Page</title>
  </head>

  <body>
      <header>
          <h1>Hornochsen - Six Takes</h1>
      </header>

      <section>
          <button id="startButton">Start a new game</button>
          <form id="startGameForm" class="hidden">
              <label>
                  Enter you playername to create a room <br>
                  <input id="p1Name" type="text">
                  <input type="submit" value="Start Game!">
              </label>
            </form>
            <button class="backButton1 hidden">Back</button>
          <button id="joinButton">Join an existing game</button>
          <form id="joinGameForm" class="hidden">
              <label>
                  Enter your player name<br>
                  <input type="text" id="playerName">
              </label>
              <label>
                Enter the room number you want to join <br>
                <input type="number" id="roomNumber">
            </label>
            <input type="submit" value="Join Game!">
        </form>
        <button class="backButton2 hidden">Back</button>
      </section>

    <!-- JavaScript -->
    <script src="/static/js/landing_page.js"></script>
</body>
</html>
