{% extends "skeleton/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="static/css/rules.css">
{% endblock %}

{% block page_title %}Pied Piper Rules{% endblock %}

{% block basic_data %}{% endblock %}

{% block nav_heading %}<a href="/" target="_blank" rel="noopener noreferrer">Pied Piper</a>{% endblock %}

{% block content %}

  <section>
    <h1>UNDER CONSTRUCTION</h1>
    <br>
    <h1>Learn the Rules of Pied Piper</h1>
  </section>

  <section id="tableOfContent">
      <h2> Table of Content</h2>
      <h3>1. How to start a game</h3>
      <h4>1.a. Creating a new room</h4>
      <h4>1.b. Joining someone's room</h4>
      <h4>1.c. Starting the game</h4>
      <h3>2. How to play</h3>
      <h4>2.a. Rules of Pied Piper</h4>
  </section>

  <h3>1. How to start a game</h3>

  <article id="newRoom">
    <h4>1.a. Creating a new room</h4>
    <p>
        To start a game with your friends, you need to create a private room for you all first.<br>
        To do so, navigate to the main page of Pied Piper and click the button "Start a new game" <br>
        <span>INSERT IMAGE HERE</span><br>
        Enter your name under "player name" (There is a character limit of 8).<br>
        Then, choose how many points you want to play to. If you are not sure, go with the recommended 84.<br>
        When you are ready, click the "Start Game" button. <br>
        You can return to the main page by clicking "back". <br>
        <span>INSERT IMAGE HERE</span><br>
    </p>
  </article>

{% endblock %}
